html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}

.page-header .navbar-nav {
  float: right;
}

.page-header > div > div, .page-header > div > ul {
  display: inline-block;
}

.text-edit {
  padding: 0.8125rem 0 0 0;
}

.account {
  text-align: right;
}

.account > div, .account > ul {
  text-align: left;
}

.navbar .nav > li > a.brand {
  padding-left: 1.25rem;
  margin-left: 0;
}

.content {
  margin-top: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 1.2rem;
  width: 100%;
  background: #ded5b3;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
}

footer p {
  padding: 0.3125rem 0 0.75rem 0.625rem;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #ded5b3;
}

.navbar-inverse .navbar-nav li > a {
  color: #1a4663;
}
.navbar-inverse .navbar-nav li > a:hover {
  background-color: #cc092f;
  color: white;
}

.navbar-inverse .navbar-brand {
  color: #1a4663;
  font-size: 30px;
  font-weight: 500;
}
.navbar-inverse .navbar-brand:hover {
  color: #cc092f;
}

.form-control:focus {
  border: 2px solid #ded5b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
}

.form-control:hover {
  border: 2px solid #ded5b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #1a4663;
}
h1 .btn-default, h2 .btn-default, h3 .btn-default, h4 .btn-default, h5 .btn-default, h6 .btn-default, p .btn-default, span .btn-default {
  color: #1a4663;
  border-radius: 0;
}
h1 .btn-default:hover, h2 .btn-default:hover, h3 .btn-default:hover, h4 .btn-default:hover, h5 .btn-default:hover, h6 .btn-default:hover, p .btn-default:hover, span .btn-default:hover {
  color: #cc092f;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.main-search-input {
  height: 2.75rem;
  border-radius: 0;
}

.main-search-button {
  padding: 0.7rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  background-color: #ded5b3;
}
.main-search-button:focus, .main-search-button:hover, .main-search-button:active {
  background-color: #cc092f;
  color: white !important;
  outline: 0 !important;
  border: 0;
}

.logo-container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.logo-container img {
  width: 30%;
}

.navbar-li > a {
  background-color: #ded5b3;
}
.navbar-li > a:hover, .navbar-li > a:focus {
  background-color: #cc092f;
  color: white;
}

.navbar-inverse .navbar-nav > .open > a {
  background-color: #cc092f;
}
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #cc092f;
}

.dropdown-menu > li > a {
  padding: 6px 20px !important;
}

.dropdown-menu {
  margin-top: 8px !important;
  right: 2px;
  left: inherit;
  border: 0;
  border-radius: 0;
  padding: 0;
  padding-left: 0;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
}
.dropdown-menu:hover:before {
  border-color: transparent transparent #cc092f transparent !important;
}
.dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent #fff transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: inherit;
  right: 11px;
  z-index: 99;
}
.dropdown-menu:hover:after {
  border-color: transparent transparent #cc092f transparent !important;
}
.dropdown-menu:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: inherit;
  right: 10px;
  z-index: 98;
}

.data-ui-view-container {
  position: relative;
}

[data-ui-view].ng-enter, [data-ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

[data-ui-view].ng-enter {
  opacity: 0;
  -moz-transform: translate3d(600px, 0px, 0px);
  -ms-transform: translate3d(600px, 0px, 0px);
  -o-transform: translate3d(600px, 0px, 0px);
  -webkit-transform: translate3d(600px, 0px, 0px);
  transform: translate3d(600px, 0px, 0px);
}

[data-ui-view].ng-enter-active {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[data-ui-view].ng-leave {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

[data-ui-view].ng-leave-active {
  opacity: 0;
  -moz-transform: translate3d(-600px, 0px, 0px);
  -ms-transform: translate3d(-600px, 0px, 0px);
  -o-transform: translate3d(-600px, 0px, 0px);
  -webkit-transform: translate3d(-600px, 0px, 0px);
  transform: translate3d(-600px, 0px, 0px);
}
