html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}

.page-header .navbar-nav {
  float: right;
}

.page-header > div > div, .page-header > div > ul {
  display: inline-block;
}

.account {
  text-align: right;
}

.account > div, .account > ul {
  text-align: left;
}

.navbar .nav > li > a.brand {
  padding-left: 1.25rem;
  margin-left: 0;
}

.content {
  margin-top: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
  background: #ded5b3;
  padding: 0.5rem 0 0.5rem 0;
}

footer p {
  margin: 0;
  line-height: 1;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: #ded5b3;
}

.navbar-inverse .navbar-nav li > a {
  color: #1a4663;
}
.navbar-inverse .navbar-nav li > a:hover {
  background-color: #cc092f;
  color: white;
}

.navbar-inverse .navbar-brand {
  color: #1a4663;
  font-size: 30px;
  font-weight: 500;
}
.navbar-inverse .navbar-brand:hover {
  color: #cc092f;
}

.form-control:focus {
  border: 2px solid #ded5b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
}

.form-control:hover {
  border: 2px solid #ded5b3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ded5b3;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #1a4663;
}
h1 .btn-default, h2 .btn-default, h3 .btn-default, h4 .btn-default, h5 .btn-default, h6 .btn-default, p .btn-default, span .btn-default {
  color: #1a4663;
  border-radius: 0;
}
h1 .btn-default:hover, h2 .btn-default:hover, h3 .btn-default:hover, h4 .btn-default:hover, h5 .btn-default:hover, h6 .btn-default:hover, p .btn-default:hover, span .btn-default:hover {
  color: #cc092f;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

@media all and (max-width: 480px) {
  .desktop {
    display: none;
  }
}
@media all and (min-width: 481px) {
  .mobile {
    display: none;
  }
}
.left-off-canvas-menu {
  height: 1000%;
}

.top-bar .name h1 a {
  float: left;
  width: auto;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
  overflow-x: hidden;
}

section {
  margin-bottom: 30px;
}

section h1 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 30px;
}

section p:last-child {
  margin-bottom: 0;
}

section:last-child {
  margin-bottom: 0;
}

section.toggle {
  text-align: center;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #000000;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
  margin-bottom: 30px;
  text-align: center;
}

.buttons button {
  display: inline-block;
  margin: 0 0 4px 0;
  padding: 15px 30px;
  color: #fff;
  background-color: #67b5d1;
}

.buttons button:hover,
.buttons button.active {
  background-color: #3184a1;
}

.buttons button:focus {
  outline: none;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: #67b5d1;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

nav.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu a {
  font-weight: 300;
  color: #fff;
}

button.close-menu {
  background-color: #3184a1;
  color: #fff;
}

button.close-menu:focus {
  outline: none;
}

/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
  top: 0;
  width: 25%;
  height: 100%;
}

nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
  display: block;
  text-align: center;
  border-bottom: solid 1px #3184a1;
  border-top: solid 1px #b5dbe9;
}

nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
  border-top: none;
}

nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
  border-bottom: none;
}

nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
  display: block;
  padding: 10px;
  font-size: 18px;
}

nav.slide-menu-left button.close-menu,
nav.slide-menu-right button.close-menu,
nav.push-menu-left button.close-menu,
nav.push-menu-right button.close-menu {
  margin: 10px 0;
  padding: 10px 30px;
  background-color: #3184a1;
  color: #fff;
}

nav.slide-menu-left,
nav.push-menu-left {
  left: -25%;
}

nav.slide-menu-right,
nav.push-menu-right {
  right: -25%;
}

body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
  left: 0;
}

body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
  right: 0;
}

/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom {
  left: 0;
  width: 100%;
  height: 100px;
}

nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
  text-align: center;
  padding: 25px 0 0 0;
}

nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
  display: block;
  line-height: 50px;
  padding: 0 10px;
  font-size: 18px;
}

nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
  display: block;
  line-height: 50px;
  margin: 0;
  padding: 0 10px;
}

nav.slide-menu-top,
nav.push-menu-top {
  top: -100px;
}

nav.slide-menu-bottom,
nav.push-menu-bottom {
  bottom: -100px;
}

body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
  top: 0;
}

body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
  bottom: 0;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 860px) {
  .buttons br {
    display: none;
  }

  .buttons button {
    padding: 10px 20px;
  }
}
@media all and (max-width: 660px) {
  /* slide menu top and bottom */
  nav.slide-menu-top ul,
  nav.slide-menu-bottom ul,
  nav.push-menu-top ul,
  nav.push-menu-bottom ul {
    padding: 35px 0 0 0;
  }

  nav.slide-menu-top a,
  nav.slide-menu-bottom a,
  nav.push-menu-top a,
  nav.push-menu-bottom a {
    line-height: 30px;
    padding: 0 2px;
    font-size: 12px;
  }

  nav.slide-menu-top button.close-menu,
  nav.slide-menu-bottom button.close-menu,
  nav.push-menu-top button.close-menu,
  nav.push-menu-bottom button.close-menu {
    line-height: 30px;
    padding: 0 2px;
  }
}
@media all and (max-width: 330px) {
  nav.slide-menu-left,
  nav.slide-menu-right,
  nav.push-menu-left,
  nav.push-menu-right {
    top: 0;
    width: 100%;
  }

  nav.slide-menu-left,
  nav.push-menu-left {
    left: -100%;
  }

  nav.slide-menu-right,
  nav.push-menu-right {
    right: -100%;
  }

  body.sml-open nav.slide-menu-left,
  body.pml-open nav.push-menu-left {
    left: 0;
  }

  body.smr-open nav.slide-menu-right,
  body.pmr-open nav.push-menu-right {
    right: 0;
  }
}
.main-search-input {
  height: 2.75rem;
  border-radius: 0;
}

.main-search-button {
  padding: 0.7rem 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  background-color: #ded5b3;
}
.main-search-button:focus, .main-search-button:hover, .main-search-button:active {
  background-color: #cc092f;
  color: white !important;
  outline: 0 !important;
  border: 0;
}

.logo-container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.logo-container img {
  width: 30%;
}

.navbar-li > a {
  background-color: #ded5b3;
}
.navbar-li > a:hover, .navbar-li > a:focus {
  background-color: #cc092f;
  color: white;
}

.navbar-inverse .navbar-nav > .open > a {
  background-color: #cc092f;
}
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #cc092f;
}

.dropdown-menu > li > a {
  padding: 6px 20px !important;
}

.dropdown-menu {
  margin-top: 8px !important;
  right: 2px;
  left: inherit;
  border: 0;
  border-radius: 0;
  padding: 0;
  padding-left: 0;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.175);
}
.dropdown-menu:hover:before {
  border-color: transparent transparent #cc092f transparent !important;
}
.dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent #fff transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: inherit;
  right: 11px;
  z-index: 99;
}
.dropdown-menu:hover:after {
  border-color: transparent transparent #cc092f transparent !important;
}
.dropdown-menu:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: inherit;
  right: 10px;
  z-index: 98;
}

.data-ui-view-container {
  position: relative;
}

[data-ui-view].ng-enter, [data-ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

[data-ui-view].ng-enter {
  opacity: 0;
  -moz-transform: translate3d(600px, 0px, 0px);
  -ms-transform: translate3d(600px, 0px, 0px);
  -o-transform: translate3d(600px, 0px, 0px);
  -webkit-transform: translate3d(600px, 0px, 0px);
  transform: translate3d(600px, 0px, 0px);
}

[data-ui-view].ng-enter-active {
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[data-ui-view].ng-leave {
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

[data-ui-view].ng-leave-active {
  opacity: 0;
  -moz-transform: translate3d(-600px, 0px, 0px);
  -ms-transform: translate3d(-600px, 0px, 0px);
  -o-transform: translate3d(-600px, 0px, 0px);
  -webkit-transform: translate3d(-600px, 0px, 0px);
  transform: translate3d(-600px, 0px, 0px);
}
