.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/system/lib/angular
public/system/lib/angular-animate
public/system/lib/angular-cookies
public/system/lib/angular-mocks
public/system/lib/angular-resource
public/system/lib/angular-route
public/system/lib/angular-ui-router
public/system/lib/fastclick
public/system/lib/jquery
public/system/lib/jquery.cookie
public/system/lib/jquery-placeholder
public/system/lib/modernizr
public/system/lib/foundation
!public/system/lib/foundation/scss/foundation/_settings.scss
mean.iml
test/coverage/
modules/public/
modules/views/
public/build/