.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
.idea/
node_modules/
public/system/lib/angular
public/system/lib/angular-bootstrap
public/system/lib/angular-cookies
public/system/lib/angular-mocks
public/system/lib/angular-resource
public/system/lib/angular-route
public/system/lib/angular-ui-router
public/system/lib/jquery
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/
