<div class="off-canvas-wrap" data-ng-controller="offCanvasCtrl">
    <div class="inner-wrap">
        <nav class="tab-bar mobile">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">SOL ::</h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu mobile">
            <ul class="off-canvas-list">
                <li><a href="#">Left Sidebar</a></li>
                <li><a href="#">Left Sidebar</a></li>
                <li><a href="#">Left Sidebar</a></li>
            </ul>
        </aside>