$roboto: 'Roboto', sans-serif;

// Colors
$red: #CC092F; $lgrey: #ddd; $dgray: #919693; $cream: #DED5B3; $lblue: #1A4663; $dblue: #003050; $lblue-trans: rgba(0, 100, 200, 0.1);

html {
	font-size: 100%;
}

body {
	font-size: 16px;
	font-family: $roboto;
	overflow: hidden;
}

.page-header {
 	padding-bottom: 0;
 	margin: 0;
 	border-bottom: 0;
}

.page-header .navbar-nav {
 	float: right;
}

.page-header > div > div, .page-header > div > ul {
 	display: inline-block;
}

.text-edit {
 	padding: 0.8125rem 0 0 0;
}

.account {
 	text-align: right;
}

.account > div, .account > ul {
 	text-align: left;
}

.navbar .nav > li > a.brand {
  padding-left: 1.25rem;
  margin-left: 0;
}

.content {
  margin-top: 0;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 1.2rem;
  width: 100%;
  background: $cream;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
}

footer p {
  padding: 0.3125rem 0 0.75rem 0.625rem;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  background-color: $cream;
}

.navbar-inverse .navbar-nav {
	li > a {
	color: $lblue;
	}
	li > a:hover {
		background-color: $red;
		color: white;
	}
}

.navbar-inverse .navbar-brand {
	color: $lblue;
	font-size: 30px;
	font-weight: 500;
	&:hover { 
		color: $red;
	}
}

.form-control:focus {
	border: 2px solid $cream;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 213, 179, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 213, 179, 1);
}

.form-control:hover {
	border: 2px solid $cream;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 213, 179, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(222, 213, 179, 1);
}

h1, h2, h3, h4, h5, h6, p, span {
	color: $lblue;
	.btn-default {
		color: $lblue;
		border-radius: 0;
		&:hover {
			color: $red;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
}