<div class="container content" data-ng-controller="IndexController"> <!-- Main container and IndexController -->
<section> <!-- Site tag section -->
	<div class="row"> <!-- Site tag row -->
		<div class="small-12 columns">
		<h1 mean-token="'home-default'">SOL :: About</h1>
		</div>
	</div> <!-- End site tag row -->
</section> <!-- End site tag section -->

<section> <!-- Logo section -->
	<div class="row"> <!-- Logo row -->
		<div class="small-10 columns text-center logo-container small-offset-1"> <!-- Logo column -->
			<a ui-sref="home" title="SOL"><img ng-src="{{logo}}" alt="SOL Logo"></a>
	</div> <!-- End logo column -->
</div> <!-- End logo row -->
</section> <!-- End logo section -->

<section> <!-- Search input section -->
	<div class="row"> <!-- Search row -->
		<div class="small-8 columns small-offset-2"> <!-- Search column -->
			<form>
				<div class="row collapse"> <!-- Input group -->
					<div class="large-9 columns">
						<input type="text" placeholder="" class="form-control main-search-input">
				</div>
					<div class="small-3 columns">
						<a href="#" class="button postfix main-search-button">Search</a>
				</div>
			</div>
		</form>
	</div><!-- End input group -->
</div><!-- End search column -->
</section> <!-- End search input section -->
</div> <!-- End IndexController -->