		<ul class="title-area">
			<li class="name">
				<h1><a ui-sref="home" mean-token="'site-title'">SOL::S</a></h1>
		</li>
	</ul>

		<section class="top-bar-section">
			<ul class="left">
				<li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
					<a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
			</li>
		</ul>

			<div class="account">
				<div class="text-edit">
					<div data-ng-show="global.authenticated" mean-token-editable></div>
			</div>

				<ul class="right" data-ng-hide="global.authenticated">
					<li><a ui-sref='auth.register'>Register</a></li>
					<li><a ui-sref='auth.login'>Login</a></li>
	 		</ul>
	 			<ul class="right" data-ng-show="global.authenticated">
					<li class="has-dropdown">
						<a href="">{{global.user.name}}</a>
						<ul class="dropdown">
							<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>